/CEG_Hackathon.pdf
/CEG_Hackathon.pptx
/desktop.ini
/MSME_EVALUATION_SHEET_VIMALRAJ.docx
/MSME_EVALUATION_SHEET_VIMALRAJ.pdf
/SlideToShutDown.lnk
/VimalBtechAI.docx
/Vimalraj_R_resume.pdf
/Visual Studio Code.lnk
/YouTube.lnk
/Zoom Workplace.lnk